
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <style>
        h1 {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 200px;
        }
    </style>
    <div> 
        <h1>Hola desde .NET!<br />:D</h1>
    </div>
</body>
</html>
