
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/Assets/styles.css" />
    <link rel="icon" href="~/Assets/UserIcon.png" />
</head>
<body class="login-body">
    <form class="login">
        <h1>LOGIN</h1>
        <input type="text" placeholder="Usuario">
        <input type="password" placeholder="Contraseña">
        <button>Iniciar Sesión</button>
        <br /><br />
        <a href="/Authentication/Register" class="login-a">Aún no tengo una cuenta</a>
    </form>
</body>
</html>
